.mainGame{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 80vh;
    margin-top: 2rem;
    max-width: 1200px;
    padding: 1.5rem;
    border: 3px solid var(--generalColor);
    border-radius: 5rem;
  }

  .gameQuestions{
    display: flex;
    flex-direction: column;
    color: #000;
  }

  .btnF {
    margin-top: 2rem;
  }

  .listStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
  }

  .listForm{
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    border: 1px solid var(--generalColor);
    border-radius: 5rem;
  }

  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }

  .confirm-button {
    margin-top: 2.2rem;
    background-color: #007bff;
    color: #000;
    padding: 1rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
  }

  .back-button {
    margin-top: 2.8rem;
    background-color: #ffca2b;
    color: #000;
    padding: 1rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
  }
  
  
  .confirm-button:hover {
    background-color: #ffca2b;
  }

.finishGame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}


.correct-answer {
  background-color: #ffca2b; /* Cor de fundo para a resposta correta */
  color: #000; /* Cor do texto */
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
  text-align: center;
}



.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .question-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .option {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #ccc;
  }
  
  .option.green {
    background-color: #a6e7a6; /* Verde para respostas corretas */
  }
  
  .option.red {
    background-color: #f5a1a1; /* Vermelho para respostas incorretas */
  }
  
  .next-button {
    margin-top: 2.3rem;
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    border: none;
    width: 13.3rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  
  .result-container {
    text-align: center;
    margin-top: 20px;
  }
  

  